@font-face {
    font-family: Norse;
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf") format("opentype");
}

/* main content */
html, body {
    margin: 0;
    height: 100%;
}
.container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

/* left side */
.left {
    background-image: url("images/leaves.jpg");
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.logo {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    flex-shrink:0;
    align-items: center;
    padding: 15px 0px;
    justify-content: center;
}
#logotext
{
    color: white;
    font-family: Norse, 'Calibri', 'Arial', sans-serif;
    font-size: 100px;
}
#photocredit
{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}
#photocredit a
{
    color: white;
}